*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    /* justify-content: center;
    align-items: center;
    margin-left: 100px; */
}


.container{
    width:100%;
    margin: 0;
    overflow-x: hidden;
}

/* .page1{
    background-image: url(images\hero.png);
} */

h1{
    font-size: 20px;
    margin-bottom: 18px;
}

h2{
    font-size: 13px;
    margin-bottom: 18px;
}

p{
    font-size: 12px;
}



input{
    margin-bottom: 15px;
}

.navigation{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation ul li{
    list-style: none;
    margin-right: 20px;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.page1{
    background-image: url(images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height:100vh;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
.navBtns{
    display:flex;
    gap:20px;
}
.login{
    background-color: transparent;
    border: none;
    color:white;
    font-size: 15px;

}
.member{
    text-align: center;
    background-color: rgb(64, 146, 212);
    border:none;
    border-radius: 5px;
    padding:10px;
    width:150px;
    color:white;
    font-weight: 300;
    
}
.contents-page1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}

.contents-page1 button{
    width: 150px;
    height: 50px;
    background-color: rgb(64, 146, 212);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}
.page4, .page5{
    margin-top: 150px;
    margin-bottom: 150px;
    height: 100vh;
}

.peace-top{
/* display: grid;
    grid-template-areas: 
    ' p se sa'; */
    display: flex;
    margin-left: 19%;
    position: absolute;
    top: 85%;
    width: 100%;
}


.peace,.set,.satisfy{
    box-shadow: 0px 0px 10px 5px rgba(251, 224, 224, 0.5);

}
.peace:hover {
    background-color: rgb(64, 146, 212);
}

.peace{
    grid-area: p;
    margin-bottom: 110px;
    width: 300px;
    height: 200px;
    background-color: white; 
    border: 0.5px solid white; 
    margin-right: 40px; 
    width: 250px; 
    height: 150px; 
    margin-bottom: 30px;
}
.peace h1:hover{
    color: white;
}
.peace h1{
    color: black;
    margin-bottom: 8px; 
    margin-left: 18px;
}
.peace ion-icon{
    color: rgb(64, 146, 212);
    width: 80px; 
    height: 60px; 
    margin-bottom: 8px; 
    margin-left: 18px;
}

.set ion-icon{
    color: rgb(64, 146, 212);
    width: 80px; 
    height: 60px; 
    margin-bottom: 8px; 
    margin-left: 18px;
}

.satisfy ion-icon{
    color: white;
    width: 80px; 
    height: 60px; 
    margin-bottom: 8px; 
    margin-left: 18px;
}
.set{
    grid-area: se;
    width: 300pxpx;
    height: 200px;
    border: 1px solid white;
}

.satisfy{
    grid-area: sa;
    width: 300pxpx;
    height: 200px;
    border: 1px solid white;
}

.peace-down{
    display: grid;
    grid-template-areas: 
    ' p2 se2 sa2';
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: white;
}

.peace2{
    grid-area: p2;
    width: 300pxpx;
    height: 200px;
   
}

.set2{
    grid-area: se2;
    width: 300pxpx;
    height: 200px;
    
}

.satisfy2{
    grid-area: sa2;
    width: 300px;
    height: 200px;
   
}

.peace2 ion-icon{
    color: rgb(64, 146, 212);
    width: 80px; 
    height: 60px; 
    margin-bottom: 8px; 
    margin-left: 18px;
}

.set2 ion-icon{
    color: rgb(64, 146, 212);
    width: 80px; 
    height: 60px; 
    margin-bottom: 8px; 
    margin-left: 18px;
}

.satisfy2 ion-icon{
    color: rgb(64, 146, 212);
    width: 80px; 
    height: 60px; 
    margin-bottom: 8px; 
    margin-left: 18px;
}

.page3{
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.industry-info{
    margin-left: 400px;
    padding-top: 100px;
} 

.people{
    display: grid;
    grid-template-areas: 
    'g1 b g2';
}

.girl-specs{
    grid-area: g1;
}

.boy{
    grid-area: b;
}

.girl{
    grid-area: g2;
}

.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer1 img{
    width: 50px;
    height: 30px;
}
.subscribe{
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(purple, rgb(198, 9, 107));
    padding: 0px 20px;
    
}

.text-field{
    display: flex;
    flex-direction: row;

}

.text-field input{
    width: 200px;
    border: none;
}

.pricing-info, .industry-info{
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;

}
.payment-plans{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding-bottom: 20px;
}

.free{
    border: 1.5px solid rgb(64, 146, 212);
    background-color: white;
    width: 250px;
    height: 550px;
}

.free h1{
    margin-top: 20px;
    margin-left: 20px; 
}


.free p{
    margin-top: 20px;
    margin-left: 20px;
}

.free ion-icon{
    width: 50px;
    height: 30px;
    color: green;
}

.free button{
    margin-top: 50px;
    margin-left: 40px; 
    background-color: rgb(64, 146, 212);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.standard{
    border: 1.5px solid rgb(64, 146, 212);
    background-color: rgb(13, 13, 26);
    color: white;
    width: 250px;
    height: 550px;
}

.standard h1{
    margin-top: 20px;
    margin-left: 20px;
}

.standard p{
    margin-top: 20px;
    margin-left: 20px;
}

.standard ion-icon{
    width: 50px;
    height: 30px;
    color: green;
}

.standard button{
    margin-top: 50px;
    margin-left: 40px; 
    background-color: rgb(64, 146, 212);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.premium{
    border: 1.5px solid rgb(64, 146, 212);
    background-color: white;
    width: 250px;
    height: 550px;
}

.premium h1{
    margin-top: 20px;
    margin-left: 20px;
}

.premium p{
    margin-top: 20px;
    margin-left: 20px;
}

.premium ion-icon{
    width: 50px;
    height: 30px;
    color: green;
}

.premium button{
    margin-top: 50px;
    margin-left: 40px; 
    background-color: rgb(64, 146, 212);
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px; 
}


.page5{
    background-color: rgb(13, 13, 26);
    color: white;
}

.world-content{
    display: grid;
    grid-template-areas: 
    'wi wp';
    padding-top: 100px;
    width: 100%;
}

.world-info{
    grid-area: wi;
}

.world-pic{
    grid-area: wp;
}

.wrapper{
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 0.1px solid;
    border-color: white;
    /* width: 700px;
    height: 500px; */
}

input{
    width: 400px;
    height: 30px;
    margin-top: 8px;
}


.input-box label{
    color: black;
}

.input-box-select input{
   padding: 1rem 2rem;
}

select{
    width: 400px;
    height: 30px;
    margin-top: 8px;
}

.department label{
    color: black;
}

.time label{
    color: black;
}
.form-box-login{
  margin: 0 auto;
  padding-left: 30px;
  
}
.form-box-login h1{
    color: black;
    text-align: center;
}
.book-appointment{
    width: 400px;
    height: 40px;
    background-color: rgb(64, 146, 212);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.page6{
    margin-top: 400px;
}

.contact-us{
    width: 150px;
    height: 50px;
    background-color: rgb(64, 146, 212);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.contact-content{
    display: flex;
    flex-direction: row;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 50px;
}

.figma-content{
    margin-left: 110px;
}

.company-info p{
    margin-bottom: 12px;
}

.legal p{
    margin-bottom: 12px;
}

.features p{
    margin-bottom: 12px;
}

.resources p{
    margin-bottom: 12px;
}



.get-in-touch p{
    margin-bottom: 12px;
}

.get-in-touch ion-icon{
color: rgb(64, 146, 212);
width: 30px;
height: 20px;
}


.figma-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.icons{
    /* display: flex;
    flex-direction: row;   */
    margin-left: 200px;
    justify-content: space-around;
}

.figma{
    display: flex;
    flex-direction: row;
}
.figma ion-icon{
    width: 50px;
    height: 20px;
    fill: rgb(64, 146, 212);
}

@media screen and (max-width:1100px){
    .page5{
        width: 100%;
    }
}

@media screen and (max-width:1000px){
    .peace-top{
        width: 100%;
    }
    .page1, .page2, .page5, .page6{
        width: 100%;
    }
    .world-pic, .world-pic, .wrapper{
        margin-left: 0px;
    }
}



/* @media screen (max-width:430px){
    body{
        width: 200px;
    }
    
} */




